<h1>Articles</h1>

<div class="articles">
  <div class="article-header">
    <div class="article-title">Title</div>
    <div class="article-body">Body</div>
    <div class="article-actions"></div>
  </div>

  <div class="article-list">
    <% @articles.each do |article| %>
      <div class="article-item">
        <div class="article-title"><%= article.title %></div>
        <div class="article-body"><%= article.body %></div>
        <div class="article-actions">
          <form action="articles/show" method="get" style="display:inline;">
            <button type="submit">Show</button>
          </form>
          <form action="articles/edit" method="get" style="display:inline;">
            <button type="submit">Edit</button>
          </form>
          <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy-button' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<form action="articles/new" method="get">
  <button type="submit">New Article</button>
</form>


<%# if current_user %>
<!--  <h2> <%#=current_user.email %> </h2>-->
  <%#= image_tag(current_user.avatar_url) %>
  <%#= link_to "Edit Account", edit_user_registration_path %>
  <%#= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method:  :delete %>
  <%# else %>
  <%= link_to "Login", new_user_password_path %>
  <%= link_to "Create Account", new_user_registration_path %>
<%# end %>